:root {
  --primary-color: #2c3639;
  --neutral-color-200: #f8bb5f;
  --neutral-color-500: #fef1df;
  --neutral-color-700: #a4a4a4;
  --neutral-color-20: rgba(254, 241, 223, 0.2);
}

* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  -ms-overflow-style: none; /* Hide Scrollbar for IE and Edge*/
  scrollbar-width: none; /* Hide Scrollbar for Firefox*/
  background-color: var(--primary-color);
  font-family: "Roboto Slab", sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

/* Element tags */

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.8rem;
}

h1,
h2 {
  font-weight: 500;
  color: var(--neutral-color-200);
}

p,
strong,
em {
  font-size: 1.5rem;
}

/* container for intro text */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: fade 3s;
  opacity: 0;
}

.intro {
  font-size: 3.2rem;
  font-weight: 700;
}

@keyframes fade {
  50% {
    opacity: 1;
  }
}

/* General */

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  max-width: 64rem;
  animation: fadein 2s;
}

.main-title {
  margin-left: 10rem;
  margin-bottom: 3rem;
  font-weight: 700;
}

.content {
  display: flex;
}

.poem-navbar {
  width: 5rem;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

.poem-number {
  font-family: "Roboto Slab", sans-serif;
  width: 100%;
  font-weight: 200;
  font-size: 1.6rem;
  text-decoration: none;
  display: block;
  text-align: center;
  color: var(--neutral-color-20);
  border: none;
  margin-bottom: 0.2rem;
  transition: all 0.9s ease-in-out;
  cursor: pointer;
}

/* MEDIA QUERY PLACED HERE FOR THE HOVER AND ACTIVE */

@media screen and (min-width: 768px) {
  .poem-number:hover,
  .poem-number.active {
    font-weight: 700;
    color: var(--neutral-color-200);
  }
}

/* END OF MEDIA QUERY */

.poem,
.select {
  margin-left: 5rem;
  position: relative;
  overflow-y: scroll;
  height: 60rem;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.poem::-webkit-scrollbar,
.select::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}

.poem-text::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}

.gradient-top {
  position: fixed;
  z-index: 2;
  right: 60rem;
  top: 198.5em;
  left: 50rem;
  height: 3rem;
  background: -moz-linear-gradient(
    bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(44, 54, 57, 1) 70%
  );
  background: -webkit-linear-gradient(
    bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(44, 54, 57, 1) 70%
  );
  background: -o-linear-gradient(
    bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(44, 54, 57, 1) 70%
  );
  background: -ms-linear-gradient(
    bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(44, 54, 57, 1) 70%
  );
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 0%,
    rgba(44, 54, 57, 1) 70%
  );
}

.gradient {
  position: sticky;
  z-index: 2;
  right: 0;
  bottom: 0;
  left: 0;
  height: 6rem;
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(44, 54, 57, 1) 70%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(44, 54, 57, 1) 70%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(44, 54, 57, 1) 70%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(44, 54, 57, 1) 70%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(44, 54, 57, 1) 70%
  );
}

.poem-title,
.select-title {
  position: sticky;
  font-weight: 700;
  top: 0;
  padding-bottom: 1rem;
  /* padding: 0 0 0.5em; CHECK IN PAGE TO ADD PADDING ACCORDINGLY */
}

.select-title {
  font-size: 2rem;
}

.poem-text {
  line-height: 2;
  max-width: 80rem;
  /* margin: 1em auto; */
}

.verse {
  color: var(--neutral-color-500);
  transition: all 300ms;
  cursor: pointer;
  margin-bottom: 3.2em;
}

.verse:last-child {
  margin-bottom: 0;
}

.verse:hover {
  color: var(--neutral-color-700) !important;
}

.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 1000ms;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  color: var(--neutral-color-20);
}

@media (max-width: 435px) {
  .main-container {
    padding-top: 0.5rem;
  }

  .select {
    margin-left: 0;
  }
  .main-title {
    margin-left: 5rem;
    font-size: 2.24rem;
  }
  .poem-number {
    font-size: 1.44rem;
  }
  .poem-number.active {
    margin-bottom: 0;
    font-weight: 700;
    color: var(--neutral-color-200);
  }
  .poem {
    margin-left: 1rem;
    height: 55rem;
  }
  .poem-title {
    font-size: 1.6rem;
    /* margin-bottom: 20px; */
  }
  .verse {
    font-size: 1.2rem;
  }

  .gradient-top {
    right: 179em;
    top: 140em;
    left: 5rem;
  }
}
