:root {
  --neutral-color-200: #cccccc;
  --neutral-color-500: #808080;
  --neutral-color-700: #4d4d4d;
}

* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

/* Element tags */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
}

h1,
h2 {
  font-weight: 500;
  color: var(--neutral-color-200);
}

pre {
  font-family: "Source Serif Pro", sans-serif;
}

/* General */

.main-container {
  display: flex;
  flex-direction: column;
  margin: 3em auto;
  max-width: 40em;
}

.main-title {
  margin-left: 100px;
  margin-bottom: 30px;
}

.content {
  display: flex;
}

.poem-navbar {
  width: 50px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

.poem-number {
  width: 100%;
  font-size: 1.25rem;
  text-decoration: none;
  display: block;
  text-align: center;
  color: var(--neutral-color-200);
  background-color: white;
  border: none;
  margin-bottom: 5px;
  transition: all 300ms;
  cursor: pointer;
}

.poem-number:hover,
.poem-number.active {
  font-weight: 700;
  color: var(--neutral-color-700) !important;
}

.poem {
  margin-left: 50px;
  position: relative;
  overflow-y: scroll;
  height: 760px;
  min-height: 200px;
}

.poem::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}

/* .gradient-top {
  position: sticky;
  z-index: 2;
  right: 0;
  bottom: 0;
  left: 0;
  height: 160px;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 70%
  );
} */

.gradient {
  position: sticky;
  z-index: 2;
  right: 0;
  bottom: 0;
  left: 0;
  height: 160px;
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 70%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 70%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 70%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 70%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 70%
  );
}

.poem-title {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 0.5em 0;
}

.poem-verse {
  font-size: 1.25rem;
  line-height: 2;
  max-width: 800px;
  margin: 1em auto;
}

.verse {
  font-family: "Source Serif Pro", sans-serif;
  color: var(--neutral-color-500);
  transition: all 300ms;
  cursor: pointer;
  margin-bottom: 2em;
}

.verse:hover,
.verse:focus {
  color: var(--neutral-color-700) !important;
}

@media (max-width: 435px) {
  .main-container {
    margin-left: 10px;
  }
  .main-title {
    margin-left: 50px;
    font-size: 1.7rem;
  }
  .poem-number {
    font-size: 1rem;
  }
  .poem {
    margin-left: 10px;
    height: 700px;
  }
  .poem-title {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
  .verse {
    font-size: 0.75rem;
  }
}
