:root {
  --neutral-color-200: #cccccc;
  --neutral-color-500: #808080;
  --neutral-color-700: #4d4d4d;
}

* {
  margin: 0;
  padding: 0;
}

/* Element tags */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
}

h1,
h2 {
  font-weight: 500;
  color: var(--neutral-color-200);
}

pre {
  font-family: "Source Serif Pro", sans-serif;
}

/* General */

.main-container {
  width: 40em;
  margin: 3em auto;
}

.main-title {
  margin-left: 100px;
  margin-bottom: 30px;
}

.content {
  display: flex;
}

.poem-navbar {
  width: 50px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

.poem-number {
  width: 100%;
  font-size: 1.25rem;
  text-decoration: none;
  display: block;
  text-align: center;
  color: var(--neutral-color-200);
  background-color: white;
  border: none;
  margin-bottom: 5px;
  transition: all 300ms;
  cursor: pointer;
}

.poem-number:hover,
.poem-number:focus {
  font-weight: 700;
  color: var(--neutral-color-700) !important;
  margin-bottom: 5px;
}

.poem {
  margin-left: 50px;
}

.poem-title {
  margin-bottom: 30px;
}

.poem-verse {
  font-size: 1.25rem;
  line-height: 2;
}

.verse {
  font-family: "Source Serif Pro", sans-serif;
  color: var(--neutral-color-500);
  transition: all 300ms;
  cursor: pointer;
  margin-bottom: 2em;
}

.verse:hover,
.verse:focus {
  color: var(--neutral-color-700) !important;
}

@media (max-width: 435px) {
  .main-container {
    margin-left: 10px;
  }
  .main-title {
    margin-left: 50px;
    font-size: 1.7rem;
  }
  .poem-number {
    font-size: 1rem;
  }
  .poem {
    margin-left: 10px;
  }
  .poem-title {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
  .verse {
    font-size: 0.75rem;
  }
}

@media (max-width: 800px) {
  .main-container {
    margin-left: 20px;
  }
}
