:root {
  --primary-color: #2c3639;
  --neutral-color-200: #f8bb5f;
  --neutral-color-500: #fef1df;
  --neutral-color-700: #a4a4a4;
}

* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  -ms-overflow-style: none; /* Hide Scrollbar for IE and Edge*/
  scrollbar-width: none; /* Hide Scrollbar for Firefox*/
  background-color: var(--primary-color);
}

*::-webkit-scrollbar {
  display: none;
}

/* Element tags */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
}

h1,
h2 {
  font-weight: 500;
  color: var(--neutral-color-200);
}

pre {
  font-family: "Source Serif Pro", sans-serif;
}

/* container for intro text */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: fade 4s;
  opacity: 0;
}

.intro {
  font-size: 2rem;
  font-weight: 700;
}

@keyframes fade {
  50% {
    opacity: 1;
  }
}

/* General */

.main-container {
  display: flex;
  flex-direction: column;
  margin: 3em auto;
  max-width: 40em;
  animation: fadein 2s;
}

.main-title {
  margin-left: 100px;
  margin-bottom: 30px;
  font-weight: 700;
}

.content {
  display: flex;
}

.poem-navbar {
  width: 50px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

.poem-number {
  font-family: "Roboto Slab", sans-serif;
  width: 100%;
  font-weight: 200;
  font-size: 1.25rem;
  text-decoration: none;
  display: block;
  text-align: center;
  color: var(--neutral-color-500);
  border: none;
  margin-bottom: 2px;
  transition: all 800ms ease-in-out;
  cursor: pointer;
}

.poem-number.active {
  margin-bottom: 0;
  font-weight: 700;
  color: var(--neutral-color-200);
}

.poem,
.select {
  margin-left: 50px;
  position: relative;
  overflow-y: scroll;
  height: 760px;
  min-height: 200px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.poem::-webkit-scrollbar,
.select::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}
.poem-verse::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}

/* .gradient-top {
  position: sticky;
  z-index: 2;
  right: 0;
  bottom: 0;
  left: 0;
  height: 10px;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 70%
  );
} */

.gradient {
  position: sticky;
  z-index: 2;
  right: 0;
  bottom: 0;
  left: 0;
  height: 160px;
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(44, 54, 57, 1) 70%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(44, 54, 57, 1) 70%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(44, 54, 57, 1) 70%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(44, 54, 57, 1) 70%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(44, 54, 57, 1) 70%
  );
}

.poem-title,
.select-title {
  position: sticky;
  font-weight: 700;
  top: 0;
  padding: 0 0 0.5em;
}

.select-title {
  font-size: 20px;
}

.poem-verse {
  font-size: 1.25rem;
  line-height: 2;
  max-width: 800px;
  margin: 1em auto;
}

.verse {
  font-family: "Roboto Slab", sans-serif;
  color: var(--neutral-color-500);
  transition: all 300ms;
  cursor: pointer;
  margin-bottom: 2em;
}

.verse:hover,
.verse:focus {
  color: var(--neutral-color-700) !important;
}

.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 1000ms;
}

@media (max-width: 435px) {
  .main-container {
    margin-left: 10px;
  }

  .select {
    margin-left: 0;
  }
  .main-title {
    margin-left: 50px;
    font-size: 1.7rem;
  }
  .poem-number {
    font-size: 1rem;
  }
  .poem {
    margin-left: 10px;
    height: 700px;
  }
  .poem-title {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
  .verse {
    font-size: 0.75rem;
  }
}
